@use "lightTheme"

.bookRow
    & > *
        padding: 5px 10px
        @include lightTheme.normalText($textColor: lightTheme.$primary_color)
        background-color: lightTheme.$bg_color_box

    th
        @include lightTheme.subtitleText($textColor: lightTheme.$primary_color)

    .title, .author, .pages
        text-align: left

    .readStatus
        @include lightTheme.flexCenter

    .likes, .messages, .edit, .delete
        text-align: center
        & > button
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: center
            cursor: pointer
            border: none
            background-color: transparent

            & > * + *
                margin-inline-start: 5px

            & > svg
                width: 16px
                height: 16px
                color: lightTheme.$primary_color

            & > span
                @include lightTheme.normalText($textColor: lightTheme.$primary_color)

    .likes:hover, .messages:hover
        & > button > svg
            color: lightTheme.$color_ok

    .edit:hover, .delete:hover
        & > button > svg
            color: lightTheme.$color_warning

// modal
.editBookModal, .deletionConfirmationModal
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: 0
    width: 100%
    height: 100vh
    background-color: lightTheme.$bg_color_modal
    z-index: lightTheme.$zindex_modal
    padding: 40px
    @include lightTheme.flexCenter

.deletionConfirmationModal
    & > div
        background-color: lightTheme.$bg_color_box
        width: auto
        height: 100px
