@use "lightTheme"

.bookContainer
    border: 1px solid lightTheme.$border_color_primary
    border-radius: 4px
    display: flex
    flex-flow: column wrap
    align-items: stretch
    justify-content: space-between

    .cardMedia
        position: relative
        flex: 1
        max-height: 200px

.cardHeader
    padding: 10px 15px
    display: flex
    flex-flow: row nowrap
    align-items: flex-start
    justify-content: space-between

    .cardMeta
        &> *
            padding: 0
            margin: 0
        & > h4
            @include lightTheme.subtitleText($textColor: lightTheme.$primary_color)
        & > h6
            @include lightTheme.normalText($textColor: lightTheme.$secondary_color)

    .cardEdit
        height: 100%
        display: flex
        flex-flow: column wrap
        align-items: flex-end
        justify-content: flex-start

        & > * + *
            margin-block-start: 5px

    .status
        // @include lightTheme.flexCenter
        & > input
            display: none

        .toggleWrapper
            @include lightTheme.flexCenter
            width: 20px
            height: 20px
            border-radius: 50%
            cursor: pointer
            background-color: lightTheme.$book_not_read

        & svg
            width: 14px
            height: 14px
            color: white

    input:checked
        // important to use adjacent sibling combinator
        & + .toggleWrapper
            background-color: lightTheme.$book_read

    .edit
        @include lightTheme.flexCenter
        width: 120px
        height: 20px
        border: none
        border-radius: 10px
        padding: 0 10px
        cursor: pointer
        background-color: lightTheme.$bg_color_secondary
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: space-between

        & > * + *
            margin-inline-start: 10px

        & > span
            @include lightTheme.subsubNormalText($textColor: white)
            text-transform: uppercase

        & svg
            width: 14px
            height: 14px
            color: white

.editBookModal, .deletionConfirmationContainer
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: 0
    width: 100%
    height: 100vh
    background-color: lightTheme.$bg_color_modal
    z-index: lightTheme.$zindex_modal
    padding: 40px
    @include lightTheme.flexCenter

.cardActions
    padding: 10px 15px
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between

    .likesComments
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: flex-start

        & > * + *
            margin-inline-start: 20px

    .likes, .comments
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: space-between

        & > * + *
            margin-inline-start: 4px

        & > button
            @include lightTheme.flexCenter
            padding: 0
            height: 20px
            width: 20px
            border-radius: 50%
            border: 1px solid lightTheme.$bg_color_secondary
            background-color: lightTheme.$bg_color_primary
            cursor: pointer

            &:hover
                background-color: lightTheme.$bg_color_secondary

                & > svg
                    color: white

        & svg
            height: 14px
            width: 14px
            color: lightTheme.$primary_color

        & > span
            display: inline-block
            min-width: 30px
            color: lightTheme.$secondary_color

    // .likes
    //     & > span
    //         color: lightTheme.$secondary_color

    // .comments
    //     & > span
    //         color: lightTheme.$secondary_color

    .removeMe
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: flex-end
        height: 24px
        width: auto
        padding: 0 10px
        border-radius: 12px
        background-color: lightTheme.$bg_color_secondary
        border: 1px solid lightTheme.$bg_color_secondary
        cursor: pointer

        & > * + *
            margin-inline-start: 5px

        & > *
            color: white

        & > svg
            width: 14px
            height: 14px

        & > span
            display: inline-block
            text-transform: uppercase
            @include lightTheme.normalText($textColor: white)

        &:hover
            background-color: lightTheme.$bg_color_primary
            & > *
                color: lightTheme.$primary_color

    .deletionConfirmation
        width: 420px
        height: 100px
        background-color: white
        padding: 20px
        display: flex
        flex-flow: column wrap
        align-items: stretch
        justify-content: space-between

        & > h6
            margin: 0
            padding: 0
            @include lightTheme.subtitleText($textColor: red)
            text-transform: uppercase

        .confirmationButtonGroup
            display: flex
            flex-flow: row nowrap
            align-items: center
            justify-content: space-between

            & > button
                @include lightTheme.flexCenter
                width: 100px
                height: 24px
                padding: 4px
                border-radius: 12px
                background-color: lightTheme.$bg_color_secondary
                border: none
                cursor: pointer

                & > span
                    display: inline-block
                    @include lightTheme.subtitleText($textColor: white)

                & > svg
                    color: white

                & > * + *
                    margin-inline-start: 5px

            & > button:nth-child(1):hover
                background-color: #48e98a

            & > button:nth-child(2):hover
                background-color: #fe4551
