@use "lightTheme"

.mainRight
    flex-flow: column wrap
    align-items: stretch
    justify-content: space-between

    & > * + *
        margin-block-start: 20px

.mainLeft
    display: none

.sourceNinfo
    z-index: lightTheme.$zindex_source
    width: 20px
    height: 60px
    padding: 5px 0
    background-color: lightTheme.$bg_color_secondary
    position: fixed
    top: 50%
    left: 0
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: space-around
    transition: all .3s linear
    @include lightTheme.boxShadow($shadowColor: lightTheme.$bg_color_greenish)

    & > * + *
        margin-block-start: 5px

    & > *
        @include lightTheme.flexCenter
        cursor: pointer
    & svg
        width: 16px
        height: 16px
        color: lightTheme.$color_ok
        transition: all .3s ease-in

    & > *:hover
        & svg
            color: white

.books
    display: flex
    flex-flow: column wrap
    align-items: stretch
    justify-content: flex-start

    & > * + *
        margin-block-start: 20px

.flashMessage
    position: fixed
    width: 250px
    height: 24px
    background-color: lightTheme.$bg_color_redish
    @include lightTheme.boxShadow($shadowColor: lightTheme.$bg_color_secondary)
    bottom: 60px
    right: 20px
    padding: 5px
    z-index: lightTheme.$zindex_flash_message
    @include lightTheme.flexCenter
    transition: all .3s ease-in
    animation: slidein 3s 1 ease-in-out

    & > h6
        margin: 0
        padding: 0
        @include lightTheme.subNormalText($textColor: white)
        text-transform: uppercase

// animation keyframes
@keyframes slidein
    from
        right: -250px
    25%
        right: 20px
    75%
        right: 20px
    to
        right: -250px

// add media condition to move the sourceNinfo to the right side of the window
@media screen and (min-width: lightTheme.$breakpoint_md)
    .sourceNinfo
        left: calc(100% - 20px)

    // .container

    .mainRight
        margin-inline-start: 320px

    .mainLeft
        position: fixed
        top: 60px
        left: 0
        display: block
        width: 320px
        // padding will be controlled by child ...
        // as we will add form , which is using padding 20px
        // to make alignment right with mainRight, we set padding 0
        padding: 0
        // we substract the height of nav and footer
        // TODO: there is an issue here.......????
        // height: calc(100vh - 60px - 50px)
        // this takes the width of footer by pushing the footer to right
        height: calc(100vh - 60px)
        border-inline-end: 1px solid lightTheme.$border_color_primary
        border-block-end: 1px solid lightTheme.$border_color_primary
        overflow-y: auto
