@use "lightTheme"

.container
    display: flex
    flex-flow: column wrap
    align-items: stretch
    justify-content: space-between
    & > * + *
        margin-block-start: 20px

    .interaction
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: space-between

        & > * + *
            margin-inline-start: 20px
    .clearStore, .addBook
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: center
        width: 150px
        height: 30px
        border-radius: 15px
        cursor: pointer
        background-color: lightTheme.$bg_color_primary
        transition: all .3s ease-in
        border: 1px solid transparent
        align-self: center
        @include lightTheme.boxShadow($shadowColor: lightTheme.$primary_color)

        & > *
            transition: all .3s ease-in

        & > * + *
            margin-inline-start: 5px

        & > span
            @include lightTheme.subtitleText($textColor:lightTheme.$primary_color )
            text-transform: uppercase

        & > svg
            width: 16px
            height: 16px
            color: lightTheme.$primary_color

        &:hover
            background-color: lightTheme.$bg_color_secondary
            @include lightTheme.boxShadow($shadowColor: lightTheme.$bg_color_secondary)
            & > span
                color: #fff

    .clearStore
        & > svg
            color: lightTheme.$color_warning
    .addBook
        & > svg
            color: lightTheme.$color_ok

    .viewToggler
        width: auto
        height: 30px
        display: none

    // .summary
    //     background-color: lightTheme.$bg_color_secondary
    //     color: white
    //     padding: 10px
    //     display: flex
    //     flex-flow: row wrap
    //     align-items: flex-start
    //     justify-content: flex-start
        // & > p
        //     margin: 0
        //     padding: 0
        //     @include lightTheme.subtitleText($textColor: white)
        //     text-align: left
        //     text-transform: uppercase
        // & > p + p
        //     margin-block-start: 5px

.addBookModal, .deletionConfirmationModal
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: 0
    width: 100%
    height: 100vh
    background-color: lightTheme.$bg_color_modal
    z-index: lightTheme.$zindex_modal
    padding: 40px
    @include lightTheme.flexCenter

.deletionConfirmationModal
    // FIX_BUG
    // not sure why I have to do this
    left: -20px
    & > div
        background-color: lightTheme.$bg_color_box
        width: auto
        height: 100px

// media consiton to display view togger
@media screen and (min-width: lightTheme.$breakpoint_sm)
    .container
        .viewToggler
            display: block
@media screen and (min-width: lightTheme.$breakpoint_md)
    .container
        .addBook
            display: none
