@use "lightTheme"

.container
    width: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between

.logo
    h4
        @include lightTheme.titleText($textColor: lightTheme.$primary_color)

.right_nav
    flex: 1
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-end
    & > * + *
        margin-inline-start: 10px

    .login
        @include lightTheme.subtitleText($textColor: lightTheme.$primary_color)

    .storage
        @include lightTheme.subtitleText($textColor: lightTheme.$secondary_color)

    .theme
        @include lightTheme.subtitleText($textColor: lightTheme.$secondary_color)

// .storage
//     input
//         display: none
//     input + label
//         cursor: pointer
//     input + label > div
//         width: 30px
//         height: 30px
//         background-color: #48e98e
//         border-radius: 50%
//         transition: all .3s linear
//         & > svg
//             transition: all .3s linear
//             width: 10px
//             height: 10px
//     input + label > div:hover
//         & > svg
//             width: 16px
//             height: 16px
